@font-face {
  font-family: 'Fira Sans';
  font-display: block;
  src: url('../assets/fonts/FiraSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Quincy';
  font-display: block;
  src: url('../assets/fonts/QuincyCF-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/QuincyCF-ExtraBold.woff') format('woff'),
    url('../assets/fonts/QuincyCF-ExtraBold.otf') format('opentype');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: 'Fira Sans', sans-serif;
  color: #151951;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'Quincy', serif;
  font-weight: normal;
  color: #151951;
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 17px;
  line-height: 32px;
  color: #151951;
}

code {
  font-size: 16px;
  color: #cb33b1;
}

::selection {
  background-color: #e1ebff;
}
