/* Style markdown coming from Contentful */

#markdown a {
	text-decoration: none;
	border-bottom: 1px solid #151951;
	color: #151951;
}

#markdown li {
	list-style: url('../assets/svg/darkListItem.svg');
}
#Flyright li {
	list-style: url('../assets/svg/purpleListItem.svg');
}
#Edenspiekermann li {
	list-style: url('../assets/svg/redListItem.svg');
}
#Bytedance li {
	list-style: url('../assets/svg/blueListItem.svg');
}

.gist {
	margin: 2em 0;
}
.gist .highlight {
	margin: 1em 0;
}
.gist .gist-file {
	border-color: #ececf5;
}
.gist .gist-data {
	border-color: #ececf5;
}
.gist .gist-meta {
	background-color: #ffffff;
}
.gist .blob-wrapper::-webkit-scrollbar {
	display: none;
}
@media (max-width: 700px) {
	.gist .gist-meta a:first-child {
		display: none;
	}
}
