<template id="ty-head">
  <meta charset="utf-8" />
  <html lang="en" />

  <title>Ty Hopp</title>
  <meta name="title" content="Ty Hopp" />
  <meta name="description" content="Singapore-based software developer building useful things for people." />
  <meta name="keywords" content="software, developer, designer" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Ty Hopp" />
  <meta property="og:description" content="Singapore-based software developer building useful things for people." />
  <meta property="og:url" content="https://tyhopp.com" />
  <meta property="og:image" content="https://tyhopp.com/openGraphCard.png" />
  <meta property="og:image:width" content="2400" />
  <meta property="og:image:height" content="1200" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@doestyhopp" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet" />
  <link rel="apple-touch-icon-precomposed" sizes="180x180" />
  <link rel="apple-touch-icon" sizes="180x180" />
  <link rel="icon" type="image/png" sizes="48x48" />
  <link rel="icon" type="image/png" sizes="32x32" />
  <link rel="icon" type="image/png" sizes="16x16" />
</template>